/* 
black - rgb(37, 37, 37)
blue - rgb(42, 171, 226)
shadow - rgba(102, 75, 75, .3)
white - rgb(255, 255, 255) (default value) 

the font is called 'nunito' and can be found on google fonts
***you can use it if you'd like or you can choose your own***
*/

/*   *  *   GLOBAL   *  *  */

* {
  margin: 0;
  padding: 0;
}

body {
  height: 150vh;
  font-family: 'nunito-sans', sans-serif;
}

p {
  font-size: 15px;
}

/*   *  *   HEADER   *  *  */

header {
  width: 100%; 
  background-color: rgb(37, 37, 37);
  display: flex;
  justify-content: space-between;
}

#header-logo {
  color: rgb(42, 171, 226);
  font-weight: 400;
  margin: 15px 10px;
  font-size: 30px
}

.header-links {
  margin: 20px 10px;
  padding-top: 3px;
}

.top-link {
  color: white;
  text-decoration: none;
  font-weight: 200;
  margin: auto 15px;
  font-size: 12px;
}

/****  MAIN SECTION (MID, IMG, & SIDE)  ****/

.main-section {
  display: flex;
  justify-content: space-around;
}

/*   *  *   MID-SECTION   *  *  */

.mid-section {
  width: 60%;
  margin-left: 6em;
}

#mid-header {
  color: rgb(37, 37, 37);
  margin:20px 0 10px 0;
}

.mid-section-text {
  margin: auto 3em 15px auto
}

/*   *  *   IMG GALLERY   *  *  */
.mid-section-image-gallery > p {
  color: rgb(42, 171, 226);
  position: relative;
  left: 50vw;
}

.image-gallery {
  display: inline-flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.mid-section-img {
  height: 100px;
  width: 130px;
  margin: 15px
}

/*   *  *   SIDE-SECTION   *  *  */

.side-section {
  display:flex;
  flex-direction: column;
  margin-right: 50px;
}

.box-your-name {
  margin-top: 20px;
  height: 10em;
  box-shadow: 0px 0px 25px 20px rgba(128, 128, 128, 0.198);
  display: flex;
  flex-direction: column;
}

.box-your-name {

}

.box-your-name > div {
  align-items: center;
  display: flex;
  flex-direction: column;
}

#img-your-name {
  height: 100px;

}

#text-your-name {
  text-align: center;
}



.box-articles {
  margin-top: 35px;
  box-shadow: 0px 0px 25px 20px rgba(128, 128, 128, 0.198)
}

.header-box-articles {
  text-align: center;
  margin-bottom: 12px;
  font-weight: 600;
}

.box-articles > div {
  padding: 15px 25px;
}

.article-item {
  margin: 7px 15px;
  font-size: 11px;
}




/*   *  *   FOOTER   *  *  */

footer {

}