@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$dark-red: rgb(119, 27, 27);
$dark-blue: #1b5177;
$black: black;
$whiteSmoke: whiteSmoke;
$gray: gray;


.container {
  display: flex;
}

.left{
  width: 30rem;
}

.button {
  width: 25rem;
  height: 2rem;
  cursor: pointer;
  background-color: $black;
  color: $whiteSmoke;
  border: $black;
  font-family: 'Roboto';
}

.input{
  width: 25rem;
  height: 2rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid $gray;
  margin: 5px 0;
}


.saveBtn{
  width: 25rem;
  height: 2rem;
  cursor: pointer;
  background-color: $dark-blue;
  color: $whiteSmoke;
  border: $dark-blue;
  font-family: 'Roboto';
}


.ReactQuill{
  width: 15rem;
}

.notesInner{
  margin-top: 0.5rem;
  border: 1px solid $dark-red;
  border-radius: 10px;
  width: 25rem;
  text-align: center;
  cursor: pointer;
  font-family: "Roboto";
}

.notesInner:hover{
  background-color: $dark-blue;
  color: $whiteSmoke;
}

.editBtn, .deleteBtn{
  width: 5rem;
  height: 2rem;
  background-color: $dark-blue;
  color: $whiteSmoke;
  border: none;
  cursor: pointer;
  margin: 10px 10px 10px 0;
}