/* GLOBAL  */

hr {
  background-color: black;
  border-width: 0;
}


/* HEADER SECTION  */

.header {
  color: rgb(59, 158, 125);
  -moz-box-shadow:0 5px 15px rgba(182, 182, 182, 0.75);
  -webkit-box-shadow: 0 5px 15px rgba(182, 182, 182, 0.75);
  box-shadow: 0 5px 15px rgba(182, 182, 182, 0.75);
}

.header h1 {
  margin-bottom: 25px;
}

/* SEARCHBAR SECTION  */

.btn-search {
  margin: 0px 15px;
}



.App {
  text-align: center;
  /* Tip from Hannah to always make the most Parent 
  container 100 vh and vw. Helps to know how to style the child components  */
  height: 100vh; 
  width: 100vw;
}

.container-1 {
  display: flex;
  justify-content: space-around;
}

.container-BookList {
  width: 65vw;
  /* height: 200px; */
  /* height:fit-content; */
  display: flex; 
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: auto 10px;
}

.container-BookList img {
  width: 125px;
  height: 125px;
  margin: 15px 15px;
}

.container-BookList p {
  width: 300px;
}

/*    SHELF SECTION   */

.shelf {
  width: 35vw
}

.shelf h2,
.shelf button {
  margin: 0 120px 15px;
}

.shelf button {
  /* width: 85px; */
}